In [6]:
# Imports

In [ ]:
import pandas as pd

In [9]:
# read the data into an dataframe

In [8]:
df = pd.read_csv('Datasets/i4talent_alt.csv', sep=',')
df.head()

,WerknemerID,datum,geboortedatum,indiensttreding_datum,uitdiensttreding_datum,leeftijd,lengte_dienst,stad,afdeling,klant_id,geslacht_id,geslacht,uitdiensttreding_reden,uitdiensttreding_type,STATUS_JAAR,STATUS,BUSINESS_UNIT
0,6962,12/31/18 5:06,6/26/89 5:06,5/23/13 5:06,1/1/05 5:06,29.0,5.0,Amstelveen,BI,30,V,Vrouw,Niet van toepassing,Niet van toepassing,2018,Actief,Detachering
1,22981,12/30/16 5:06,8/25/83 5:06,4/24/10 5:06,1/1/05 5:06,33.0,6.0,Utrecht,Accountant,21,M,Man,Niet van toepassing,Niet van toepassing,2016,Actief,Detachering
2,5325,12/31/18 5:06,4/24/76 5:06,6/9/06 5:06,1/1/05 5:06,42.0,12.0,Amsterdam,BI,42,V,Vrouw,Niet van toepassing,Niet van toepassing,2018,Actief,Detachering
3,8193,12/31/18 5:06,10/26/98 5:06,4/28/18 5:06,1/1/05 5:06,20.0,NaN,Utrecht,BI,21,V,Vrouw,Niet van toepassing,Niet van toepassing,2018,Actief,Detachering
4,5926,12/31/13 5:06,3/19/81 5:06,1/9/09 5:06,1/1/05 5:06,32.0,4.0,Den Haag,Accountant,18,M,Man,Niet van toepassing,Niet van toepassing,2013,Actief,Detachering